/* Form Styles */

/* This fulfills requirement 3.2.7 D) */
form {
  padding: 11px 10px 0px 0px;
}

form Legend {
  color: white;
  background-color: #0047AB;
  padding: 10px;
}

.form-spacing {
  text-align: left;
  padding: 10px 0px 10px 0px;
}

.form-spacing input {
  float: right;
  width: 300px;
}

.form-spacing select {
  float: right;
  width: 300px;
}

#messBox {
  width: 500px;
  height: 200px;
  max-width: 500px;
  max-height: 500px;
}

.submit input {
  color: white;
  background-color: #0047AB;
  padding: 10px;
  border: 0px;
  font-family: 'Righteous', cursive;
}

.submit input:hover {
  background-color: rgba(0, 0, 0, 0.3);
  transform: scale(110%);
}

/* Email sec */
li {
  list-style-type: none;
}

input {
  font-size: 10pt;
}

input:focus,
textarea:focus {
  background-color: lightblue;
}

input:focus:invalid,
textarea:focus:invalid {
  background-color: rgb(248, 214, 214);
}

#error-message {
  color: red;
  float: right;
  padding-right: 100px;
}

/* Responsive Form */

* {
  box-sizing: border-box;
}

input[type=text],
input[type=email],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

  .col-25,
  .col-75,
  input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}