/* Table Styles */
.table-sec {
    text-align: center;
}

.table-sec table {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding: 0px;
    font-size: 20px;
}


.table-sec td:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.table-sec th {
    background-color: #0047AB;
    color: white;
}

.table-sec table,
td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 1000px;
}

.table-sec th,
td {
    padding: 10px;

}

.border_class {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding: 0px;
    font-size: 20px;
}

.border_class td:hover {
    background-color: rgba(0, 0, 0, 0.3);
}